body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

.header {
    background: #3f51b5;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.upload-box, .preview-box {
    background: white;
    padding: 20px;
    width: 50%;
    border-radius: 6px;
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #3f51b5;
    color: white;
    border: none;
    cursor: pointer;
}

.tabs button {
    width: 48%;
    margin-right: 2%;
}

pre {
    background: #eee;
    padding: 10px;
    height: 350px;
    overflow-y: auto;
}

.msg {
    margin-top: 10px;
    font-weight: bold;
}


